 /* footer */
 
 *{
  margin: 0%;
  padding:0%;
   font-family: Roboto,Arial,sans-serif;
   box-sizing: border-box;
  
}


/* ================================================="footer"============================== */

#feedback{
  display: block;
  width: 35px;
  margin-left:97%;
  /* border: 1px solid red; */
  position: fixed;
  top:300px;
  cursor: pointer;
 }


#bottom_div{
  display: flex;
  width:100%;
  height:55px;
  position: fixed;
  top:92%;
  justify-content: center;
  border-top: 1px solid grey;
  background-color: white;
  padding-top:10px;
  gap: 20px;
  cursor: pointer;
}
  #bottom_div img{
     width:20px;
   }
@media screen and (max-width:1350px) {
  #bottom_div{
    top:95%;
  }
}
@media screen and (min-width:1450px) and (max-width:2150px) {
  #bottom_div{
    top:95%;
  }
}
.horizontal_line{
 width: 92%;
 margin: auto;
 font-size: 18px;
 color: rgb(59, 54, 54);
 margin-bottom: 20px;
}
.horizontal_line a{
 color: rgb(54, 166, 210);
}

#para1{
   width: 92%;
   padding-top:8px;
   padding-bottom:8px;
   margin: auto;
   text-align: justify;
   /* border: 1px solid red; */
   margin-bottom: 30px;
}
  #align_center{
 text-align: center;
}
 
.button_flex{
 display: flex;
 width: 92%;
 gap: 20px;
 flex-wrap: wrap;
 text-align: center;
 justify-content:flex-start;
 margin: auto;
 /* border: 1px solid red; */
margin-bottom: 20px;
}
.button_flex>div{
   height: 45px;
   width:110px;
     border: 1px solid black;
     padding: 7px 5px 10px 0px;
     font-size:15px;
 }


#empty{
 width: 100%;
 height: 60px;
 margin: auto;
 border-bottom: 1px solid rgb(110, 104, 104);
 margin-bottom:35px;
}
hr{
 margin-top:13px;
 margin-bottom: 13px;
 height:2px;
 color: rgb(48, 46, 46);
}

#flexwala_section{
 width:92%;
 display: flex;
 margin: auto;
 height:410px ;
 /* border: 1px solid red; */
 margin-bottom: 20px;
}
#flexwala_section a:hover{
 text-decoration: underline;
}
#flexwala_section a{
 color: #3c3b3b;
 text-decoration: none;
}
#flexwala_section>div{
 width:25%;
 height:100%;
 margin: auto;
 border-left: 0.5px solid rgb(137, 137, 133);
 border-right: 0.5px solid rgb(117, 117, 114);
 padding-left: 15px;
 font-size:17px;
}
#flexwala_section>div>div{
 width: 95%;
 /* padding-left:-15px; */
  margin: auto;
  /* border: 1px solid green;  */
 margin-bottom:15px;
}
#inside_fourthdiv{
display: block;
}
#flexwala_section>div>div>img{
 display: block;
 height:90%;
 width:55%;
 margin-left:20px;
}
#img_p{
 display: flex;
 padding-top:10px;
}
#apply p{
 height:100% ;
 height:45px;
 margin: auto;
 margin-right:10px ;
 padding-top:13px;
 justify-content: center;
 text-align: center;
 color: blue;
 border: 1px solid blue;
 border-radius:5px;
}
#apply p:hover{
 border: 2px solid blue;
 cursor: pointer;
 text-decoration: none;
}
#MobileSize_flex_section{
   display: none;
}
#MobileSize_img{
 display: none;
}

#social_media{
 display: flex;
 width:85%;
 gap:10px;
 margin: auto;
 /* border: 1px solid rgb(110, 104, 104); */
 justify-content: space-evenly;
 text-align: center;
 margin-bottom:30px;
 padding-top:10px;
}
#social_media>div{
 width:100%;
 height: 55px;
 margin: auto;
/* border: 1px solid green; */
}
#social_media>div>div{
 width:100%;
}
#social_media>div>div>input{
  width:100%; 
  height: 100%;
  font-size: 12px;
 
}
#social_media>div>div>p{
 background-color:black;
 height: 100%;
 padding-top:18px;
 font-size:12px;
 color: white;
  text-align: center;
  width: 100%;
}
#innerflex{
 display: flex;
 margin: auto;
 justify-content: space-between;
}
#social_media a{
 text-decoration:none ;
 color: black;
 font-size: 18px;
}
#social_media img{
 display: block;
width:55px;
height:55px;

}

#email{
 display: flex;
 margin: auto;
 text-align: center;
 justify-content: space-between;
}


#bottom_section {
 width:92%;
 display: flex;
 /* border:1px solid red; */
 margin: auto;
 flex-direction: row;
 justify-content: center;
 text-align: center;
margin-bottom:60px;
}
#bottom_section>div{
 height:50px;
 width:250px;
  border-right: 1px solid rgb(6, 6, 6);
 padding:10px;
 font-size: 17px;
}
#bottom_section a{
 text-decoration: none;
 color:black ;
}
#copyright{
 width:92%;
 height:50px;
 margin: auto;
 text-align: center;
 /* border: 1px solid red; */
 color: rgb(151, 134, 134);
  margin-bottom:60px;
}








 /* --------------------Medium  screen media Query------------------------------------------ */
 @media screen and (min-width:650px) and (max-width:930px) {
  
  /*--------------- footer--------------- */
 #flexwala_section{
  display: flex;
  width: 92%;
  margin: auto;
  height: 410px;
 }


 #flexwala_section>div{
  width:100%;
   margin: auto;
  
}

#inside_fourthdiv{
  display: none;
 }

 #MobileSize_img{
  display: block;
  width:55%;
  text-align: center;
  margin: auto;
   margin-top:10px;
   margin-bottom: 15px;
  /* border: 1px solid red; */
}
 #MobileSize_img>div{
  width:80%;
  height: 60px;
  /* border:1px solid red; */
  margin:auto;
  font-size:19px;
  padding-top:10px;
 }
 #MobileSize_img  img{
    width: 70%;
    height:100%;
    margin-bottom:10px;
 }
 #MobileSize_img a{
  color:rgb(47, 47, 47);
  text-decoration: none;
 
 }
 
 #MobileSize_flex_section{
  display: none;
 }
   
    #social_media{
      display: flex;
      width:45%;
      margin: auto;
      align-items: center;
      flex-direction: column;
      margin-bottom: 30px;
     
    }
    #social_media>div{
      width:100%;
      height: 55px;
      margin: auto;
     /* border: 1px solid green; */
    }
    #social_media>div>div{
      width:100%;
    }
    #social_media>div>div>input{
      padding-left: 20px;
      width:100%; 
      height: 100%;
 } 
 #social_media>div>div>p{
   
    width:100%;
  }


   #innerflex{
    display: flex;
    width: 100%;
    margin: auto;
   }
    

     #bottom_section{
        width:92%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
         margin-bottom:10px;
     }
     #bottom_section>div{
      width: 100%;
       border:none;
      padding:6px;
      font-size: 19px;
    }

}



/*--------------------- Mobile screen media query ----------------------------------*/
@media screen and (max-width:650px) {

  #navbar{
    display: none;
  }
  #navbar1{
    display: block;
    width:100%;
     margin:0px;
     padding: 0px;
     top:0;
     position: fixed;
  }
  #top{
    width: 100%;
    display: flex;
    margin: auto;
    height: 55px;
    background-color: rgb(241, 238, 238);
    display: flex;
     justify-content:space-between;
     padding-bottom: 15px;
   }
   #top>div{
    width:100%;
    margin: auto;
    display: flex;
   }
   #div1{
    display: flex;
    justify-content: flex-end;
   }
   #top img{
    height: 55px;
   }
   
   #search1{
    display: block;
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   }

   
  /*--------------- footer--------------- */
 #flexwala_section{
  display: none;
 }

   #MobileSize_flex_section{
    display: block;
    width:100%;
    height:130px;
    /* margin-bottom:20px; */
    /* border:1px solid brown ; */
   }
   #MobileSize_flex_section>div{
    width: 100%;
    height:40px;
    color: black;
    padding-top:10px;
    text-decoration: none;
    border: 1px solid rgb(23, 23, 23);
     padding-left:20px;
     padding-right:20px;
   }
    #MobileSize_flex_section a{
      text-decoration: none;
      color: #020202;
      font-size:18px;
    }
    .plus{
      width: 100%;
      display: flex;
        justify-content: space-between;
    }
    #MobileSize_img{
      display: block;
      width:55%;
      text-align: center;
      margin: auto;
       margin-top:10px;
       margin-bottom: 15px;
      /* border: 1px solid red; */
    }
     #MobileSize_img>div{
      width:80%;
      height: 60px;
      /* border:1px solid red; */
      margin:auto;
      font-size:19px;
      padding-top:10px;
     }
     #MobileSize_img  img{
        width: 70%;
        height:100%;
        margin-bottom:10px;
     }
     #MobileSize_img a{
      color:rgb(47, 47, 47);
      text-decoration: none;
     
     }

     #empty{
      display: none;
     }
    #social_media{
      display: flex;
      width:55%;
      margin: auto;
      align-items: center;
      flex-direction: column;
      margin-bottom: 30px;
     
    }

    #social_media>div{
      width: 100%;
      margin: auto;
     
    }
   #innerflex{
    display: flex;
    width:100% ;
    margin: auto;
     gap:5px;
   }


     #bottom_section{
        width:92%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
         margin-bottom:10px;
     }
     #bottom_section>div{
      width: 100%;
       border:none;
      padding:6px;
      font-size: 19px;
    }

}